body{
    background: mintcream;
    font-size:100%;
}
p{
    color:black;
    font-family: monospace;
}
h1{
    text-shadow: 4px 4px 2px gray;
    color: black;
    font-family: monospace;
    margin-top: 25px;
}
h2{
    font-size: 130%;
    font-family: monospace;
}
h3{
    font-size: 110% ;
    font-family: monospace;
}
img{
    max-height: 100%;
    max-width: 100%;
    float: right;
}


@media(min-width: 800px){
        .headshot{

            display: flex;
            justify-content: center;       
 }

        .container1{
            display: flex;
            justify-content: centre;
        }
        .container2{
            display: flex;
        }
        .container3{
            display: flex;
            justify-content: space-around;
        }
}
.container1 div .container2 div .container3 div .headshot div{
    border:1px #ccc solid;
    padding: 10px;
}
.container2{
    display:  flex;
    flex-direction: column;
}
.container3{
    display: flex;
    flex-wrap: wrap;
}
.headshot{
        float: right;
        height: 200px;
        width: 200px;
        padding: 14.45px;
        border: 3px lightpink;
}
.banner{
    order: 1;
    flex: 1;
    background-color:lightpink ;
    font-family: monospace;
}
.contact{
    order: 2;
    flex: 2;
    background-color: lightsalmon;
    font-family: monospace;
}
.education{
    order: 3;
    flex: 2;
    background-color: lightcyan;
    font-family: monospace;
}
.workExpierence{
    flex: 1;
    background-color: lightgrey;
    font-family: monospace;
}
.skillsHobbies{
    
    flex-basis:  40%;
    background-color: lightseagreen;
    font-family: monospace;
}


